<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shareMedia()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="video-playlist-content">
  <!-- <app-aspect-ratio [ratio]="{w: 16, h: 9}">
    <video *ngIf="ssr" class="ssr-video" controls preload="auto">
      <source *ngFor="let video of video_playlist_model?.selected_video?.sources" [src]="video.src" [type]="video.type">
    </video>
    <vg-player *ngIf="!ssr" class="video-player" (onPlayerReady)="onPlayerReady($event)">
			<video controls #player_video [vgMedia]="player_video" id="player-video" preload="auto">
	      <source *ngFor="let video of video_playlist_model?.selected_video?.sources" [src]="video.src" [type]="video.type">
	    </video>
    </vg-player>
  </app-aspect-ratio> -->

  <!-- <section class="video-data-section">
    <h3 class="video-title">
      <app-text-shell animation="gradient" [data]="video_playlist_model?.selected_video?.title"></app-text-shell>
    </h3>
    <p class="video-description">
      <app-text-shell lines="5" animation="gradient" [data]="video_playlist_model?.selected_video?.description"></app-text-shell>
    </p>
  </section> -->

  <section class="video-playlist-section">
    <ion-row class="playlist-item-row" *ngFor="let report of reports">
      <ion-col size="4">
        <app-image-shell [display]="'cover'" class="video-image" animation="spinner" [src]="report.image" [alt]="'Report Image'">
        </app-image-shell>
      </ion-col>
      <ion-col size="8" class="video-info-wrapper">
        <h4 class="image-title">
          <app-text-shell animation="gradient" [data]="report.id"></app-text-shell>
        </h4>
        <p class="image-description">
          <app-text-shell lines="3" animation="gradient" [data]="report.date"></app-text-shell>
        </p>
        <p class="image-description">
          <app-text-shell lines="3" animation="gradient" [data]="report.email"></app-text-shell>
        </p>
        <p class="image-description">
          <app-text-shell lines="3" animation="gradient" [data]="report.address"></app-text-shell>
        </p>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
