


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="light">
      <ion-menu-button></ion-menu-button>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  (click)="geolocateMe()" color="light"  >
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="navigateToReport()" color="warning">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  color="light">
      <ion-icon   md="caret-down" ios="chevron-down-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list>
      <ion-button color="light" >
        <ion-img src="/assets/garbage-truck (1).png"></ion-img>
      </ion-button>
      <ion-button color="light">
        <ion-img src="/assets/waste.png"></ion-img>
      </ion-button>
    </ion-fab-list> 

  </ion-fab>
  

  <app-google-map [mapOptions]="mapOptions"></app-google-map>

  
 
</ion-content>











<!-- <div style="height:50px ;"> 
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-menu-button></ion-menu-button>
      
    </ion-tab-button>

    <ion-tab-button (click)="geolocateMe()">
      <ion-icon name="locate"></ion-icon>
      <ion-label>ubicarme</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="alert-outline"></ion-icon>
      <ion-label>Reportar</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>
</ion-tabs></div> -->
