<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Realizar Reporte</ion-label>
      </ion-list-header>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Número del Reporte</ion-label>
        <ion-input type="text" [readonly]="true" formControlName="id" clearInput required></ion-input>
      </ion-item>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Fecha del Reporte</ion-label>
        <ion-input type="text" [readonly]="true" formControlName="date" clearInput></ion-input>
      </ion-item>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="text" formControlName="email" clearInput inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.email">
          <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" formControlName="address" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address">
          <div class="error-message" *ngIf="validationsForm.get('address').hasError(validation.type) && (validationsForm.get('address').dirty || validationsForm.get('address').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <!-- <ion-item class="input-item item-label-floating">
        <ion-label position="floating">Imagen</ion-label>
        <ion-input type="text" formControlName="image" clearInput></ion-input>
      </ion-item> -->
    </ion-list>
    <ion-grid class="photo">
      <ion-row class="photo-label">
        <ion-label>Foto del Incidente</ion-label>
      </ion-row>
      <ion-row>
        <ion-fab>
          <ion-fab-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-row>
    </ion-grid>  

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">Submit</ion-button>
  </form>
</ion-content>
